/*Green: 98986B
  Pink: E4BBBA
  Tan: F8F0DC
  brown:6F5E50*/
    

body {
	font-size: 100%;
    background-color: #E4BBBA;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nav {
	font-size: 1.7em;
	font-family: "BigNoodleTitling" , georgia;
	display: inline;
	margin-top: .85em;
	margin-bottom: 1em;
	position: absolute;
	margin-left: -12em;
	float: left;
	padding: 1em;
	padding-top: .4em;
	padding-bottom: .5em;
	padding-right: 2em;
	padding-left: 2em;
	background-color: #E4BBBA;
	width: 35%;
	height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}


li {
    float: left;
}


li a {
    display: block;
    color: #515358;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #6F5E50;
}


li a:hover {
    background-color: #F8F0DC;
}

h1 {
	font-family:  BigNoodleTitling, georgia, "Sans Serif";
	color: #6F5E50;
	font-size: 8em;
	background-color: #E4BBBA;
	position: relative;
	margin-left: 29.5%;
}

h2 {
	font-family:  BigNoodleTitling, georgia, "Sans Serif";
	color: #6F5E50;
	font-size: 1.5em;
	background-color: #E4BBBA;
	position: relative;
	text-align: left;
	text-decoration: underline;
	margin-left: 10%;
	padding-top: 1em;
}

h3 {
	font-family:  BigNoodleTitling, georgia, "Sans Serif";
	color: #6F5E50;
	font-size: 3em;
	background-color: #E4BBBA;
	padding-top: .5em;
}

p {
	font-family:  BigNoodleTitling, georgia, "Sans Serif";
	color: #6F5E50;
	font-size: 1.5em;
	background-color: #E4BBBA;
	margin-left: 24%;
	padding: 0em;
	text-indent: 50px;
	width: 50%;
	text-align: justify;


}
.video{
	font-family:  BigNoodleTitling, georgia, "Sans Serif";
	color: #6F5E50;
	font-size: 1.5em;
	background-color: #E4BBBA;
	margin-left: 24%;
	padding: 1em
}


.resume {
	font-family:  BigNoodleTitling, georgia, "Sans Serif";
	color: #6F5E50;
	font-size: 1.5em;
	background-color: #E4BBBA;
	margin: 0em;
	padding: 0em;
	text-align: left;
	margin-left: 10%
}

.quote {
	text-align: center;
	margin: 0;
	font-size: 2em;
	padding: 1em;
}
.logo {
	margin: 1em;
	/*margin-left: 0.5em;*/
	width: 70%;
	height: auto;
}

.img {
	margin-top: 1em;
	margin-bottom: 2em;
	margin-right: 10em;
	margin-left: 11em;
	width: 15%;
	height: auto;
	padding-top: 10em;
}

.c {
	margin-top: 0em;
	margin-bottom: 0em;
	margin-right: 10em;
	margin-left: 9em;
	width: 40%;
	height: auto;
	padding-top: 10em;
}
.mySlides {
	position: relative;
	padding-bottom: 1em;
}

.left {
	margin-left: 37em;
	color: #6F5E50;
}
.right {
	margin-left: 42.5em;
	color: #6F5E50;
}

.nav2 ul li {
	list-style-type: none;
	display: inline;
	float: left;
	margin-left: 3.5em;
	margin-right: 3em;
	margin-bottom: 2.7em;
}

.img2 {
	width: 100%;
	height: auto;
}


footer {
	padding-bottom: 150px;
	margin-top: 5px; /* negative value of footer height */
	width: 98.75%;
	height: 30px;
	clear:both; 
	text-align: left;
	background-color: #E4BBBA;
	padding: .5em;
	font-size: 1.5em;	
	color: #6F5E50;
	font-family: BigNoodleTitling, georgia, "Sans Serif";
}









@media screen and (max-width: 760px) {
	.logo{
		width: 80%
	}
	.nav{
		font-size: 1.2em;
		width: 520px;
		margin-left: 1em;
		text-align: center;
	}
	.quote{
		font-size: 1.2em;
	}
	footer{
		font-size: 1.2em;
		width: 612.5px;
	}

	.nav2{
		margin-bottom: 0em;
		width: 80%;
		margin-left: 2em;

	}


@media screen and (max-width: 625px) {
	.logo{
		width: 80%
	}
	.nav{
		font-size: .9em;
		width: 200px;
		margin-left: 12em;
		text-align: center;


	}
	.quote{
		font-size: .9em;
	}
	footer{
		font-size: .9em;
		width: 575px;
	}

	.nav2{
	width:85%;
	margin-bottom: -1em;
	margin-left: 1.5em;
	margin-right: 0em;

	}
	
}

@media screen and (max-width: 560px) {
	.logo{
		width: 80%
	}
	.nav{
		font-size: .7em;
		width: 200px;
		margin-left: 12.2em;
		text-align: center;


	}
	.img {
		margin-top: 1em;
		margin-bottom: 0em;
		margin-right: 10em;
		margin-left: 11em;
		width: 25%;
		height: auto;
		padding-top: 0em;
}
	.quote{
		font-size: .7em;
	}
	footer{
		font-size: .7em;
		width: 510px;
	}

	.nav2{
	width:80%;
	margin-left: 1.5em;
	margin-right: 0em;

	}
	
}

@media screen and (max-width: 460px) {
	.logo{
		width: 80%
	}
	.nav{
		font-size: 1em;
		width: 100px;
		padding-left: 0em;
		margin-left: 2em;
		text-align: center;
		position:relative;


	}
	.img {
		margin-top: 1em;
		margin-bottom: 0em;
		margin-right: 10em;
		margin-left: 11em;
		width: 15%;
		height: auto;
		padding-top: 0em;
}
	.quote{
		margin-left: 4em;
		margin-right: 4em;
		font-size: .5em;
	}
	footer{
		font-size: .5em;
		width: 360px;
	}

	.nav2{
	width:75%;
	margin-bottom: -1em;
	margin-left: 2.5em;
	margin-right: 0em;

	}
	
}



